.banner {
  display: flex;
  position: fixed;
  justify-content: center;
  width: 100%;
  top: 60px;

  @media(max-width: 500px) {
    & {
      top: 0;
    }
  }
}

.background {
  filter: blur(8px);
  width: 100%;
  height: 475px;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  z-index: 1;
}

.poster {
  display: flex;
  height: 475px;
  width: 800px;
  top: 0;
  position: absolute;
  background-size: cover;
  background-repeat: round;
  z-index: 1;
}

.content {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: rgb(var(--primary-color));
  z-index: 500;
  margin-top: 535px;
  min-height: 100vh;

  @media(max-width: 500px) {
    margin-top: 475px;
    padding-bottom: 50px;
  }

  &::after {
    content: "";
    background: linear-gradient(0deg, rgb(var(--primary-color)), transparent);
    height: 150px;
    width: 100%;
    position: absolute;
    top: -150px;
    z-index: 1;
  }

  &__wrapper {
    margin: 0 auto;
    max-width: 990px;
    padding: 20px 10px 10px;
  }
}

.data {
  display: grid;
  grid-template-columns: 1fr 330px;
  grid-gap: 30px;
  border-bottom: 1px solid rgb(var(--secondary-color));
}

.actions {
  display: flex;
  flex-direction: column;
  margin: 20px 0;

  &__buttons {
    display: flex;
    grid-gap: 10px;
  }

  &__button {
    border: 2px solid rgb(var(--secondary-color));
    padding: 10px;
    border-radius: 2px;
    text-align: center;
    transition: color .25s, border .25s, background-color .25s;

    &:hover {
      color: #000;
      border: 2px solid rgb(var(--secondary-color-hover));
      background-color: rgb(var(--secondary-color-hover));
      cursor: pointer;
    }
  }

  &__icon {
    margin-right: 10px;
  }

  &__icon_list-button {
    margin-right: 10px;
  }
}

.rating {
  display: flex;
  margin-bottom: 20px;

  &__stars {
    padding-right: 10px;
  }

  &__star {
    font-size: 24px;

    &_hover {
      color: rgb(var(--secondary-color));
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__stats {
    margin: auto 0;
    padding-left: 10px;
    border-left: 1px solid gray;
    position: relative;
  }

  &__score {
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.preview {
  display: flex;
  flex-direction: column;

  &__button {
    background-color: rgb(var(--secondary-color));
    color: #000;
    padding: 10px;
    border-radius: 2px;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    transition: background-color .25s;

    &:hover {
      cursor: pointer;
      background-color: rgb(var(--secondary-color-hover));
    }
  }
}

.episode {
  display: flex;
  flex-direction: column;

  &:hover {
    cursor: pointer;
  }

  &__title {
    margin-top: 10px;
    font-size: 13px;
  }

  &__poster {
    width: 100%;
    height: 120px;
    background-size: cover;
    border-radius: 2px;
    position: relative;
  }

  &__duration {
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 5px;
    background-color: rgba(0,0,0,.5);
    border-radius: 4px;
    font-size: 13px;
  }
}

.header {
  display: flex;
  margin-bottom: 20px;
}

.title {
  font-size: 25px;
  font-weight: 500;
  margin: 0;
}

.description {
  line-height: 25px;
  font-weight: 400;
}

.genres {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 10px;
  margin: 20px 0;

  &__genre {
    background-color: rgb(var(--secondary-color));
    color: #000;
    border-radius: 2px;
    font-size: 15px;
    padding: 5px;
    transition: background-color .25s;
    text-align: center;

    &:hover {
      background-color: rgb(var(--secondary-color-hover));
      cursor: pointer;
    }
  }
}

.episode-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.watch {
  margin-top: 20px;
}

@media(max-width: 1023px) {
  .episode-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .episode__poster {
    height: 165px;
  }
}

@media(max-width: 799px) {
  .poster {
    width: 320px;
  }
}

@media(max-width: 748px) {
  .data {
    display: block;
  }

  .actions__buttons {
    display: grid;
    grid-template-areas: 'watch watch' 'bookmark list-button';
    grid-template-rows: repeat(2, 40px);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
  }

  .actions__button + .actions__button {
    margin: 0;
  }

  .actions__button_watch {
    grid-area: watch;
    background-color: rgb(var(--secondary-color));
    color: #000;
  }

  .actions__button_bookmark {
    grid-area: bookmark;
  }

  .actions__button_list-button {
    grid-area: list-button;
  }
}

@media(max-width: 739px) {
  .episode-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .episode__poster {
    height: 180px;
  }
}

@media(max-width: 567px) {
  .episode-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media(max-width: 425px) {
  .header {
    flex-direction: column;
    padding-bottom: 5px;
  }

  .title, .info {
    margin: 0;
  }

  .actions__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
  }

  .actions__button {
    & + & {
      margin-left: 0;
    }
  }
}

@media(max-width: 425px) {
  .actions__buttons {
    grid-template-columns: none;
    grid-template: 'watch bookmark'
                    'list-button list-button';
    grid-template-rows: repeat(2, 42px);
    grid-template-columns: 1fr 42px;
  }
  
  .actions__button_watch {
    grid-area: watch;
    background-color: rgb(var(--secondary-color));
    color: #000;
  }

  .actions__button_bookmark {
    grid-area: bookmark;
  }

  .actions__button_list-button {
    grid-area: list-button;
  }

  .actions__icon {
    margin: auto;
  }
}


@media(max-width: 400px) {
  .rating {
    flex-direction: column;

    &__stars, &__stats {
      padding: 0;
      border: 0;
      text-align: center;
    }

    &__star {
      font-size: 32px;
    }
  }
}

@media(max-width: 320px) {
  .poster {
    position: fixed;
    background-size: auto;
  }
}