.content {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: rgb(var(--primary-color));
  z-index: 500;
  margin-top: 475px;
  padding-bottom: 50px;
  min-height: 100vh;

  &::after {
    content: "";
    background: linear-gradient(0deg, rgb(var(--primary-color)), transparent);
    height: 150px;
    width: 100%;
    position: absolute;
    top: -150px;
    z-index: 1;
  }

  &__wrapper {
    margin: 0 auto;
    max-width: 990px;
    padding: 20px 10px 10px;
  }
}